{{> header}}
{{> header-title}}
<main class="site">
    <article>
        {{#each collections.blog.pinned}}
            {{> posts-list-item }}
        {{/each}}
        <p class="text-center">
            <a class="btn btn-lg btn-info-custom" onclick="ga('send', 'event', 'index:my-posts-btn', 'clicked');"
               href="/blog/"><h4>Go to the blog</h4></a>
        </p>
    </article>
</main>

{{> footer }}