{{>header}}
<main class="tags">
    {{#each tags}}
        <h3>{{this.label}}</h3>
        <a href="/blog/tags/{{this.label}}">{{this.label}}</a>

        {{#each this.posts}}
                {{> posts-list-item }}
            {{/each}}
        {{/each}}
</main>
{{>footer}}