<footer>
    {{!-- <span>Last updated {{shortDate date}}</span> --}}
    <span>Last updated {{longDate date}}</span>
    <nav class="left">
        <ul class="footer">
            <li>Goliatone &#169; 2015</li>
            <li><a href="https://github.com/goliatone">/ github</a></li>
            <li><a href="https://twitter.com/goliatone">/ twitter</a></li>
        </ul>
    </nav>
    <nav class="right">
        <ul class="footer">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/rss/atom.xml">feed</a></li>
            <li><a href="/blog/tags">tags</a></li>
            <li><a href="/blog/archives">archives</a></li>
        </ul>
    </nav>
</footer>

{{> html-end }}